<div class="container">
  <div class="row">
    <div class="col-8">
      <div>

        <ng-container [ngSwitch]="selectedItem">

          <div echarts [options]="_chartOption" [theme]="_theme"></div>

        </ng-container>




      </div>

    </div>
    <div class="col-4">
      <div>
        <mat-form-field appearance="outline">
          <mat-select (selectionChange)="selectChangeHandler($event)">
            <mat-option *ngFor="let step of steps" [value]="step.nom_lot">{{step.nom_lot}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <mat-checkbox [(ngModel)]="_isDarkMode" (change)="_initBasicLineEchart()">Dark Mode</mat-checkbox>

    </div>

  </div>
</div>

<!-- 
<div fxLayoutGap="1rem" fxLayout="column">
  <div class="select">
    <mat-form-field appearance="outline">
      <mat-select (selectionChange)="selectChangeHandler($event)">
        <mat-option *ngFor="let step of steps" [value]="step.nom_lot">{{step.nom_lot}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
  </div> -->


<!-- <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">

      <div class="chart">

        <ng-container [ngSwitch]="selectedItem">
        
          <div echarts [options]="_chartOption" [theme]="_theme"></div>

        </ng-container>
      </div>
    </div>
    <div class="col-"></div>
  </div> -->