
.dashboardItem {
    background-color: red;  
  }

  .bg-yellow {
    background-color: #ffd600 !important;
}


span.mb-0.text-sm {
  color: #525f7f;
  font-weight: 600; 
}

.style{
  color: #DC1413;
}

div.card.card-stats.mb-4.mb-xl-0
{
  height : 155px ;
}
div.icon.icon-shape.text-white.rounded-circle.shadow{
  background-color: #DC1413  !important
}