table{
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
  
.titre{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #c51515;
  font-weight: bold;
  font-size: 20px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.styled-table  th {
  background-color: #c51515;
  color: #ffffff;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight:500;

}
.styled-table th,
.styled-table td {
    padding: 5px 5px;
}
.stable tr {
  border-bottom: 0px  solid #dddddd;
  
}

.stable tr:nth-of-type(even) {
  background-color: #f3f3f3;
  
}

.stable span{
  display: flow-root;
  width: 300px;
  height:40px;
}

.stable  tr:hover {background-color: #ddd;}
