<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  
 
  <div class="container-fluid">
    <div class="header-body">


       
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
  <div class="col-xl-8 mb-5 mb-xl-0">
  <div class="card shadow charte">
  <div class="card-header bg-transparent">
    <div class="row align-items-center">
      <div class="col">
        <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
        <h2 class="mb-0">Total indexs </h2>
      </div>
    </div>
  </div>
  <div class="card-body">
    <!-- Chart -->
    <div class="chart-2"> 
      <!-- Chart wrapper -->
      <div echarts [options]="option2" class="index-chart" id="nb"></div>
    </div>
  </div>
  </div>
  </div> 
  <div class="col-xl-4">
    <div class="card shadow chart">
      <div class="card-header bg-transparent">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
            <h2 class="mb-0">Total cycles par index</h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <!-- Chart -->
        <div class="chart">
          <div echarts [options]="option" class="demo-chart" id="main"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
    <div class="card bg-gradient-default shadow">
    <div class="card-header bg-transparent">
      <div class="row align-items-center">
        <div class="col">
          <mat-form-field appearance="outline" class="style_select">
            <mat-label>Index </mat-label>
            <mat-select  [(ngModel)]="default_option" (selectionChange)="selectChangeHandler($event)">
              <mat-option *ngFor="let obj of arrayOfObjects" [value]="obj.nom_index">
                {{obj.nom_index}}
              </mat-option>
            </mat-select>       
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="card-body">
      <!-- Chart -->
      <div class="chart">
        <!-- Chart wrapper -->
        <div echarts [options]="option1" class="demo-chart1" id="main1"></div>

      </div>
    </div>
    </div>
    </div>
  </div>
  </div>


 