
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  
 
  <div class="container-fluid">
    <div class="header-body">


       
    </div>
  </div>
</div>


<div fxLayoutGap="1rem" fxLayout="column">
 
     <div class="select">
        <mat-form-field appearance="outline">
          <mat-select  (selectionChange)="eventSelection($event)">
            <mat-option *ngFor="let echarts of echartsTypeList" [value]="echarts">{{ echarts }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

         <ng-container [ngSwitch]="selectedEchartsType">
          <ng-container *ngSwitchCase="'Basic Line Echart'">
            <app-base-line-echarts></app-base-line-echarts>
          </ng-container>
          <ng-container *ngSwitchCase="'Basic Area Echart'">
            <app-base-area-echarts></app-base-area-echarts>
          </ng-container>
          <ng-container *ngSwitchCase="'Smoothed Line Echart'">
            <app-smoothed-line-echarts></app-smoothed-line-echarts>
          </ng-container>
          
        </ng-container> 
      </div> 
   


     

     
