.select{
    display: flex; justify-content: flex-end;
    
}
.mat-form-field{
    right: 0px;
}
.style {
    right: 0px;
    margin: 43px 4px 5px -4px;
    padding :0 -11px;
   
}
.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    width: 56px;
    
}
.chart{
    width: 688px;
    height: 445px;
}
.lot{
    text-align:left ;
    margin: 12px -4px 16px;
}

  div.card {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 148;
  }

  div.card-2 {
    width: 205px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    height: 53px;
    margin: -23px 20px;
    background-color: #dc143c;
    border-radius: 148;
  }
  div.card-2 h1{
    margin: 6px 0 16px;
    color: white;
  }
  