
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  
 
  <div class="container-fluid">
    <div class="header-body">


       
    </div>
  </div>
</div>


<div class="card">
  
</div>


                      <span class="d-none d-md-block">
                          <select  class="form-control" (change)="selectChangeHandler($event)"  >
                             
                            <option   [value]="null" disabled>Choisir un lot</option>
                              <option  *ngFor="let step of steps" [value]="step.nom_lot" > 
                                {{step.nom_lot}}
                            </option>
                        
                         </select> 
                        </span>
                    
                        <div class="card">
                          <div style="display: block">
                          <canvas baseChart
                              [chartType]="chartType"
                              [labels]="taches_table"
                              [data]="temps_table"
                              [colors]="chartColors"
                              [options]="chartOptions"
                              [legend]="true"
                              (chartHover)="chartHovered($event)"
                              (chartClick)="chartClicked($event)">
                          </canvas>
                        </div>
                        </div>