div.card.bg-secondary.shadow.border-0{
    margin-top:-49px;
}
img.navbar-brand-img{
    width: 229px;
    margin-left: 93px
}
button.btn.btn-primary.mt-4{
    background-color: crimson;
    border-color: crimson;
}