
  .card-left:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  div.card {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 148;
    height: 329px;
    margin: 21px -25px;;
  }

  div.card-2 {
    width: 205px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    height: 53px;
    margin: -8px 15px;
    background-color: #dc143c;
    border-radius: 148;
  }
  div.card-2 h1{
    margin: 6px 0 16px;
    color: white;
  }
  .select{
    display: flex; justify-content: flex-end;
    
}
.mat-form-field{
    right: 0px;
}
.style {
    right: 0px;
    margin: 43px 4px 5px -4px;
    padding :0 -11px;
   
}
.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    width: 56px;
    
}

.lot{
    text-align:left ;
    margin: 38px -4px 16px;
}
.mat-select {
  display: inline-block;
  width: 221px;
  outline: none;
}

.titre{
  font-size: large;
    color: currentcolor;
    font-weight: 550;
    margin: 0 0 18px -974px;
    
}
.titre2{
  font-size: large;
    color: currentcolor;
    font-weight: 550;
    margin: 10px 28px 15px -440px ;
    
}
div.card.shadow{
  width: 1171px;
    height: 470px;
    padding-top: 5px ;

}
:host /deep/ ng2-smart-table a { 
  color: #dc143c;
}
:host /deep/ ng2-smart-table { 
    font-size: 12px;
}
:host /deep/ ng2-smart-table   span.ng2-smart-page-link.page-link  {
  background-color: #dc143c;
  border-color: #dc143c;
}
:host /deep/ ng2-smart-table  input {
  border-color:gainsboro ;
  border-width : medium;
}
:host /deep/ [_nghost-txa-c7] table {
  width: 10%;

}