.selectstyle{
    margin-top: 79px;
}
div.card.card-stats.mb-4.mb-xl-0{
    width: 220px;
    height: 337px;
    left: 809px;
}
// 
div.row.mt-5{
    margin-top: 4rem !important;
}
span.h2.font-weight-bold.mb-0{
    font-size: 3.25rem;
    color:#c51515;
    margin-left: 45px;
}
div.col-auto 
{width: 1px; }
div.icon.icon-shape.text-white.rounded-circle.shadow{
    
   
}
mat-icon.notranslate.material-icons.mat-icon-no-color{
    color: #000000;
    font-size:45px;
}
div.col-auto{
    margin-left:25px;
}
h5.card-title.text-uppercase.text-muted.mb-0{
    color :#000000 !important

}
div.chart-2{
    margin-top: -42px;
    width: 367px;
    margin-left: 670px;

}
div.card.shadow {
    margin-top: -361px
}
div.chart{
    margin-left: 636px;
}