<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow" style = "margin-top: -83px;">
        <div class="card-header border-0">
        
        <button class="button button3"  name="answer" value="Show Div" (click)="showDiv()">Chart view </button>
 
  
        <button class="button"  name="table" value="Show Div 2" (click)="showDiv()">Tableau de bord </button>
      </div>
      <div id="welcomeDiv"  style="display:none;" class="answer_list" > 
        <div class="container">
        <div class="row">
  
          <div class="col-8">
            <div>
  
      
                <div class="chart"  echarts [options]="_chartOption" [theme]="theme" (chartInit)="onChartInit($event)"></div>
               

            </div>
          </div>
         
          <div class="card-3">
            <div class="card-2">
             
                <h1>Paramètres</h1>
             
            </div>
        <div class="col-8">
         
          
          <mat-button-toggle-group class="style" name="fontStyle" aria-label="Font Style" value="basic">
            <mat-button-toggle value="basic" (click)= "_initBasicLineEchart()" ><mat-icon>timeline</mat-icon></mat-button-toggle>
            <mat-button-toggle value="area"  (click)="_initBasicAreaEcharts()"><mat-icon>panorama</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="smoothed" (click)= "_initSmoothedEchart()"><mat-icon>gesture</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="bar" (click)= "_initBarEchart()"><mat-icon> bar_chart</mat-icon>
            </mat-button-toggle>
           
          </mat-button-toggle-group>


          <h4 class="lot">Choisir un index : </h4>
          <mat-form-field appearance="outline">
            <mat-label>Index </mat-label>
            <mat-select  [(ngModel)]="default_option" (selectionChange)="selectChangeHandler($event)">
              <mat-option *ngFor="let obj of arrayOfObjects" [value]="obj.nom_index">
                {{obj.nom_index}}
              </mat-option>
            </mat-select>       
          </mat-form-field>

          <h4 class="lot">Choisir un cycle : </h4>
     
       <div>
        <mat-form-field appearance="outline">
          <mat-select (selectionChange)="initchanger($event)" [(ngModel)]="default_cycle" >
            <mat-option *ngFor="let tache of taches" [value]="tache.num_cycle">{{tache.num_cycle}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
     
      <h4 class="lot">Choisir un theme: </h4>
     
      <mat-form-field appearance="outline">
    
        <mat-select [(value)]="selected" id="theme-select" [(ngModel)]="theme">
          
          <mat-option value="vintage">Vintage</mat-option>
          <mat-option value="dark">Dark</mat-option>
        </mat-select>
      </mat-form-field>
    
  
    </div>
    </div>  
  </div>
  </div> 
  </div>

  <div id="div2"  style="display:block;">
   
    <mat-form-field appearance="outline" class="style_select">
      <mat-label>Index </mat-label>
      <mat-select  [(ngModel)]="default_option" (selectionChange)="selectChangeHandler($event)">
        <mat-option *ngFor="let obj of arrayOfObjects" [value]="obj.nom_index">
          {{obj.nom_index}}
        </mat-option>
      </mat-select>       
    </mat-form-field>
    <!-- <div fxLayout fxLayoutAlign="center center">
            <mat-form-field  fxFlex="40%">
              <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div> -->
 <div class="table-responsive">
 <div class="mat-elevation-z8">
   <table mat-table  [dataSource]="dataSource" matSort class="styled-table"  >

      <ng-container matColumnDef="Nom lot">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom du lot  </th>
         <td mat-cell *matCellDef="let element"> {{element.nom_lot}} </td> 
      </ng-container>
      <ng-container matColumnDef="Numéro Workflow">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Numéro du workflow </th>
         <td mat-cell *matCellDef="let element"> {{element.num_workflow}} </td> 
      </ng-container>
  
      <ng-container matColumnDef="Numéro Cycle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Numéro Cycle </th>
         <td mat-cell *matCellDef="let element"> {{element.num_cycle}} </td> 
      </ng-container>
      <ng-container matColumnDef="Nom Utilisateur">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom utilisateur</th>
         <td mat-cell *matCellDef="let element"> {{element.Nom_utilisateur}} </td> 
      </ng-container>
      
  
       <ng-container matColumnDef="taches">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  Taches executés  </th>
         <td class="stable" mat-cell *matCellDef="let element"> 
          
           <div *ngIf="typeOf(element.nom_tache) === 'string' "> 

       {{element.nom_tache}}
      
      </div> 
            
          <div  >  
               
                <tr *ngFor="let stepi of element.nom_tache"> 
                  <span class="dd" *ngIf="typeOf(element.nom_tache) === 'object' " >  {{stepi}}</span>
                </tr>
            
            </div>
          
        </td>  
      </ng-container>
  
      

      <ng-container matColumnDef="temps">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Temps d'execution par tache </th>
         <td  class="stable" mat-cell *matCellDef="let element"> 
           <div *ngIf="typeOf(element.temps_execution) === 'string' "> {{element.temps_execution}}</div> 
              
                
                    <div>
                        <tr  *ngFor="let tmp of element.temps_execution">
                          <span *ngIf="typeOf(element.temps_execution) === 'object' ">
                          {{tmp}}
                        </span>
                      </tr> 
                    </div>     
           
        </td> 
      </ng-container>
      
      <ng-container matColumnDef="heure">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Heure de lancement </th>
         <td  class="stable" mat-cell *matCellDef="let element"> 
           <div *ngIf="typeOf(element.heure) === 'string' "> {{element.heure}}</div> 
              
                
                    <div>
                        <tr  *ngFor="let tmp of element.heure">
                          <span *ngIf="typeOf(element.heure) === 'object' ">
                          {{tmp}}
                        </span>
                      </tr> 
                    </div>     
           
        </td> 
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (mouseover) = "onRowClicked(row)" ></tr>
    </table> 
    </div>
   <mat-paginator [pageSize]="1" [pageSizeOptions]="[1, 2, 4]" showFirstLastButtons>
     

    </mat-paginator>
  
    
    

</div> 

</div> 
</div>
</div>
</div>
</div>   






            
